.b-pure-content .highlight {
    margin-left: 2.4em
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

code {
  background-color: #252424;
  color: white;
  display: block; 
  margin: 0.5em 0; 
  overflow: auto;
  border: 1px solid #ddd;
  padding: 0 .2em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post pre code {
  border: none;
}

body {
    font:12px/19px monospace;
    margin:0;
}
br {
    display:block;
}
.b-canvas {
    margin:auto;
    max-width:56em;
}

/* header > */
.b-header {
    display:table;
    width:100%;
    margin:0 0 2em;

    color:#777;
}
.b-header__row {
    display:table-row;
}
.b-header__section {
    display:table-cell;
    text-align:left;
}
.b-header__section_type_center {
    text-align:center;
}
.b-header__section_type_right,
.b-header__section:last-child {
    text-align:right;
}
.b-header + .b-header {
    margin-top:-1em;
}
/* header < */

/* footer > */
.b-footer {
    display:table;
    width:100%;
    margin:0 0 2em;
    border-top: 4px solid #ababab;
    color:#777;
}
.b-footer__row {
    display:table-row;
}
.b-footer__section {
    display:table-cell;
    text-align:left;
}
.b-footer__section_type_center {
    text-align:center;
}
.b-footer__section_type_right,
.b-footer__section:last-child {
    text-align:right;
}
.b-footer + .b-footer {
    margin-top:-1em;
}
/* footer < */

.b-document-header__section {
    display:table-cell;
    text-align:left;
}
.b-document-header {
    display:table;
    width:100%;
    margin:0 0 2em;
}
.b-document-header__section {
    display:table-cell;
    text-align:left;
}
.b-document-header__section:last-child {
    text-align:right;
}

.b-document-body {
    margin:0 0 2em;
}

.b-document-title__item-list {
    font:inherit;
    margin:3em 0 2.4em;
    text-transform: uppercase;
}
.b-document-title__item-list_date {
    font:inherit;
    margin:3em 0 2.4em;
    text-transform: uppercase;
    font-size: 70%;
}

.b-document-title {
    font:inherit;
    font-weight:bold;
    margin:3em 0 2.4em;
}

.b-pure-content h1,
.b-pure-content h2,
.b-pure-content h3,
.b-pure-content h4,
.b-pure-content h5,
.b-pure-content h6,
.b-document-title {
    font:inherit;
    font-weight:bold;
    margin:1em 0 1em 2.4em;
    line-height: 1.4615;
}

h2:before {
    content:'_ '
}
h3:before {
    content:'__ '
}

.b-pure-content p {
    font:inherit;
    margin:1em 0 1em 2.4em;
}

.b-pure-content h4 {
    font-weight:normal;
}

.b-pure-content ol {
    list-style-type:decimal;
    margin:1em 0 1em 2em;
}

.b-document-section__body ol {
    list-style-type:none;
    margin:1em 0 1em 1em;
}

.b-pure-content ul {
    list-style-type:circle;
    margin:1em 0 1em 2em;
}

.b-content-list {
  list-style-type: none;
  counter-reset:item;
  margin:1em 0;
  padding:0;
  margin-bottom: 2em;
}

.b-content-list li {
  line-height: 1.75em;
}

/*.b-content-list span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}*/

.b-content-list__item {
    display: block;
    white-space: nowrap;
}
.b-content-list__item:before {
    content: counters(item, ".") ".";
    counter-increment: item;
    display:inline-block;
    vertical-align:top;
    min-width:1.8em;
}
.b-content-list_level_2 {
    margin:0 0 0 2.4em;
}
.b-content-list_level_2 > .b-content-list__item:before {
    min-width:3em;
}
.b-content-list__item-text {
    display:inline-block;
    white-space:normal;
}
.b-content-list__item-preview {
    display:inline-block;
    white-space:normal;
    margin:0 0 0 2.8em;
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 100%;
}
.b-content-list__item-preview P:first-child {
    margin-top:0;
}
.b-content-list__item-date {
    display:inline-block;
    white-space:normal;
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

.b-menu {
}
.b-menu__list {
    list-style-type:none;
    margin:0;
    padding:0;
}
.b-menu_type_inline .b-menu__item {
    display:inline-block;
    vertical-align:top;
    margin:0;
    padding:0;
}
.b-menu_viewtype_square-brackets {
    background:#f8f8f8;
/*    border-top:6px solid #4dd; */
    margin:0 0 1em; 
/*    padding:0.5em 0 2.5em; */
}
.b-menu_viewtype_square-brackets .b-menu__item {
}
.b-menu_viewtype_square-brackets .b-menu__item-text:before {
    content:'['
}
.b-menu_viewtype_square-brackets .b-menu__item-text:after {
    content:']'
}
.b-menu_viewtype_square-brackets .b-menu__item-text.b-link {
    color:inherit;
    text-decoration:none;
}
.b-menu_viewtype_square-brackets .b-menu__item-text.b-link .b-link__text {
    color: #080300;
}
.b-menu_viewtype_square-brackets .b-menu__item-text.b-link:hover .b-link__text,
.b-menu_viewtype_square-brackets .b-menu__item-text.b-link:active .b-link__text {
    color:#f6bf02;
}

.b-document-section {
    margin:0;
}
.b-document-section__title {
    display:block;
    font-weight:bold;
    text-transform:uppercase;
}
.b-document-section__body {
    margin:0 0 0 3.5em;
}
.b-content-tag__tags-preview {
    white-space:normal;
    font-family: Monaco, "Courier New", monospace;
    font-size: 100%;
}

a:link { text-decoration: none; color: rgb(21, 54, 223); }
a:visited { text-decoration: none; color: #6e6d6a; } 
a:hover { text-decoration: none; color: #f6bf02; }
a:active { text-decoration: none; color: #f6bf02; }

img, iframe {
    border: 1px solid #eee;
    display: block;
    margin: auto;
    padding: 1em;
    text-align: center;
    max-width:100%; 
    box-sizing: border-box;
}

img {
    width:auto;
}

.b-sticky-aside {
    box-sizing:border-box;
    position:sticky;
    position:fixed;
    width:16em;
    top:0;
    left:50%;
    margin-left:29em;
    border:#f8f8f8 1px solid;
}

.b-sticky-aside__header {
    text-align:center;
    background:#f8f8f8;
    padding:0 1em;
}
.b-sticky-aside__body {
    padding:1em;
}
