{% extends "base.html" %}
{% block description %}The Tags page lists all tags used to classify the posts. Each post has at least one tag helping readers find out easily what they are looking for.{% endblock %}
{% block title %}Tags — {{ SITENAME }}{% endblock %}
{% block head %}
<style type="text/css" media="screen">
ul.tagcloud {
    list-style: none;
    padding: 10;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 180%;
}

li.tag-2 {
    font-size: 160%;
}

li.tag-3 {
    font-size: 140%;
}

li.tag-4 {
    font-size: 120%;
}

/* ... add li.tag-3 etc, as much as needed */

ul.tagcloud .list-group-item span.badge {
    background-color: grey;
    color: white;
}
</style>
{% endblock %}
{% block content %}
<div class="text-center">
  <ul class="tagcloud">
  	{% for tag in tag_cloud %}
  		<li class="tag-{{ tag.1 }}">
  			<a href="{{ SITEURL }}/{{ tag.0.url }}">
  			{{ tag.0 }}
  				{% if TAG_CLOUD_BADGE %}
  					<span class="badge">{{ tag.2 }}</span>
  				{% endif %}
  			</a>
  		</li>
  	{% endfor %}
  </ul>
</div>
{% endblock %}
